#weatherResult {
    max-width: 50%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(209, 209, 190) !important;
}

mat-progress-spinner {
    margin: auto;
    margin-top: 15px;
}

.card-text {
    font-size: 20px;
    font-weight: bold;
}

img {
    max-width: 50%;
    height: auto;
    margin-top: -20px;
}

#rightContainer {
    flex: 50%;
    border-radius: 10px;
    background: lightgrey;
} 

#leftContainer {
    flex: 50%;
    border-radius: 10px;
    background: lightgrey;
    margin: 10px;
}

.big-text {
    font-size: 30px;
}