<mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
<div class="container" *ngIf="weatherData">
    <div class="row" *ngFor="let weather of weatherData">
        <div class="col-12">
            <div class="card bg-secondary" id="weatherResult">
                <div class="card-header">
                    <h2>
                        {{weather.name}}'s weather
                    </h2>
                    <h6>{{today | date:'fullDate'}}</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 d-inline-flex align-items-center">
                        <div class="card mx-auto shadow p-3 rounded" style="max-width: 12rem; height: 11rem;"
                            id="rightContainer">
                            <div class="card-body">
                                <p class="card-text fs-5">{{weather.main.temp.toFixed(1)}} °C</p>
                                <p class="card-text fs-6">Feels like {{weather.main.feels_like.toFixed(1)}} °C
                                    Min: {{weather.main.temp_min.toFixed(1)}}°C Max:
                                    {{weather.main.temp_max.toFixed(1)}}°C</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-inline-flex align-items-center">
                        <div class="card mx-auto shadow p-1 rounded" style="max-width: 12rem; height: 11rem;"
                            id="leftContainer">
                            <div class="card-body">
                                <img src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png"
                                    class="card-img-top">
                                <p class="card-text fs-6">{{weather.weather[0].description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>