<div class="container">
    <form [formGroup]="form" (submit)="onSearch()">
        <div class="form-group">
            <label for="cityInput" class="form-label mt-4">Search for weather in: </label>
            <input type="text" class="form-control" id="cityInput" placeholder="Enter city" formControlName="city">
            <button class="btn my-2 my-sm-0" type="submit">Search</button>
            <button class="btn my-2 my-sm-0" type="button" (click)="clearCards()">Clear</button>
        </div>
    </form>
    
</div>

<app-weather-card *ngIf="isShowing"></app-weather-card>