#cityInput {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    border: 2px solid rgb(209, 209, 190)
}

button {
    background-color: rgb(209, 209, 190);
}

button:hover {
    background-color: grey;
}

label {
    font-size: 20px;
}